@charset "UTF-8";

/*Configuração do layout dos albuns*/
ul#album-fotos {
    width: 700px; /*Largura*/
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid #e4e2e2;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4); /*sombreamento*/
    -webkit-transition: all 0.5s ease-in;/*All: Todos os efeitos, 1s (tempo que a transição ocorra), ease-in (forma do efeito)*/
}
/*Configuração de legenda*/
ul#album-fotos li span {
    opacity: 0; /*Mostrar a nitidez da legenda da imagem*/
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, .3);
    font-size: 9pt;
    line-height: 370px; /*Faz a legenda descer*/
    padding: 5px;
}
ul#album-fotos li:hover {
    -webkit-transform: scale(1.5); /*Efeito de Zoo*/
}
ul#album-fotos li:hover span { /*Toda vez que passar o mouse, a legenda irá aparecer*/
    opacity: 1;
} 
/*Para adicionar fotos: */
ul#album-fotos li#foto01 {
    background: url('../_imagens/galeria-01.jpg') no-repeat;
    background-position: 50% 50%; /*Irá mudar o posicionamento dessa imagem*/
    background-size: 400px 400px; /*Tamanho da imagem*/
    background-color: #ffffff;
}
ul#album-fotos li#foto01:hover { /*Efeito de ao passa o mouse, a imagem centralizar no quadro*/
    background-position: 0px 0px; /*Vai voltar a mostrar a parte de cima da tela*/
    background-size: 200px 200px; /*centralização*/
}
ul#album-fotos li#foto02 {
    background: url('../_imagens/galeria-02.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto02:hover { 
    background-position: 0px 0px; 
    background-size: 200px 200px; 
}
ul#album-fotos li#foto03 {
    background: url('../_imagens/galeria-03.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto03:hover { 
    background-position: 0px 0px; 
    background-size: 200px 200px; 
}
ul#album-fotos li#foto04 {
    background: url('../_imagens/galeria-04.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto04:hover { 
    background-position: 0px 0px; 
    background-size: 200px 200px; 
}
ul#album-fotos li#foto05 {
    background: url('../_imagens/galeria-05.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto05:hover { 
    background-position: 0px 0px; 
    background-size: 200px 200px; 
}
ul#album-fotos li#foto06 {
    background: url('../_imagens/galeria-06.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto06:hover { 
    background-position: 0px 0px; 
    background-size: 200px 200px; 
}